<html>
    <% include components/head.ejs %>
    <body>
        <% include components/menu_and_heading.ejs %>
        <div class="container content">
            <h1>Browse <%= heading %></h1>

            <% if (locals.albums) { %>
                <div>
                    <% for (let album of albums) { %>
                        <div class="item">
                            <img src="/img/175x175_placeholder.png" alt="image" />
                            <div class="item-caption">
                                <span class="item-title item-label"><%= album.title %></span>
                                <span class="artist item-label"><%= album.artist_id %></span>
                                <span class="price item-label">$<%= album.price %></span>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } else if (locals.error) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
            <% } %>
        </div>
    </body>
</html>