<html>
    <% include components/head.ejs %>
    <body>
        <% include components/menu_and_heading.ejs %>
        <div class="container content">
            <h1>Browse <%= heading %></h1>

            <% if (locals.albums) { %>
                <div>
                    <% for (let album of albums) { %>
                        <a href="/item/<%= album.id %>">
                            <div class="item">
                                <img src="/item/image/<%= album.id %>" width="175" alt="lbum cover image" />
                                <div class="item-caption">
                                    <span class="item-title item-label"><%= album.title %></span>
                                    <span class="artist item-label"><%= album.artist_id %></span>
                                    <span class="price item-label">$<%= album.price %></span>
                                </div>
                            </div>
                        </a>
                    <% } %>
                </div>
            <% } else if (locals.error) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
            <% } %>
        </div>
    </body>
</html>