<html>
<% include components/head.ejs %>
<body>
<% include components/menu_and_heading.ejs %>

<div class="container content">
    <h1>Order History</h1>

    <div>
        <% if (locals.error) { %>
            <div class="alert alert-danger">
                <%= error %>, please refresh or contact our <a href="mailto:hectorcaesar@hotmail.com">customer service</a>.
            </div>
        <% } else if (orders.length) {%>
            <div class="panel-group">
                <% for (let order of orders) { %>
                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#<%= order.order_id %>">
                            <div class="panel-heading">
                                    <h4 class="panel-title">Order #<%= order.order_id %></h4>
                            </div>
                        </a>
                        <div id="<%= order.order_id %>" class="panel-collapse collapse">
                            <div class="panel-body">
                                <%
                                    var date = new Date(order.order_time);
                                    var end = 'AM';
                                    var hour = date.getUTCHours();
                                    if(hour >= 12){
                                        end = 'PM';
                                    }
                                    if(hour > 12){
                                        hour = hour - 12;
                                    }
                                    var minute = date.getMinutes();
                                    if(minute < 10){
                                        minute = '0' + minute;
                                    }
                                    var total = (order.totalPrice + "").split('.');
                                    var dollar = total[0];
                                    var cent = '00';
                                    if(total.length == 2){
                                        cent = total[1];
                                        if(total[1] < 10){
                                            cent = cent + '0';
                                        }
                                    }
                                %>
                                <p>Date Ordered: <%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %></p>
                                <p>Time Ordered: <%= hour %>:<%= minute %> <%= end %></p>
                                <p>Total Price: $<%= dollar %>.<%= cent %></p>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Album Cover</th>
                                        <th>Title</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let album of order.albums) { %>
                                        <tr>
                                            <td><img src="/image/albums/small/<%= album.id %>" width="30" alt="album cover image"/></td>
                                            <td><a href="/item/<%= album.id %>"><%= album.title %></a></td>
                                            <td><%= album.quantity %></td>
                                            <td><%= album.price %></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <p>No orders found.</p>
        <% } %>
    </div>
</div>
</body>
</html>
